name: sudoku_example
description: An example Flutter application demonstrating the sudoku_generator package.
publish_to: 'none'

version: 1.0.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ">=2.6.1 <4.0.0"
  sudoku_generator:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
